<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li data-state="home"><a href="#home">home</a></li>
                <li data-state="content"><a href="#content">content</a></li>
            </ul>
        </div>
    </div>
</div>
