extends layout

block content
  h1= 'Framework testing'

  div#header

  ul
    li
        a(href='#', class='view1')= 'view 1'
    li
        a(href='#', class='view2')= 'view 2'

   div#test-region
