<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Backbone Simple Framework</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <div id="header">

    </div>
    <div id="main">
    {% block content %}

    {% endblock %}
    </div>
    <div id="footer">

    </div>

    <script data-main="/js/app-built.js", src="/js/vendors/requirejs/require.js"></script>
    <!-- <script data-main="/js/bootstrap.js", src="/js/vendors/requirejs/require.js"></script> -->
</body>
</html>
