body {
    margin: 10px;
}

.navbar-inner {
    border-width: 3px;
    transition: border-color 200ms;
}

.prev-param,
.param {
    color: green;
    font-size: 30px;
}

.prev-param {
    color: red;
}

#home img {
    max-width: 50%;
    margin: 0 auto;
}
