<h1>Content</h1>
<p>param value is <span class="param"><%= param %></span></p>
<% if (prevParam) { %>
    <p>previous param was <span class="prev-param"><%= prevParam %></span></p>
<% } %>

<div>
    <p>asset</p>
    <pre>
    <%= JSON.stringify(asset) %>
    </pre>
</div>
