<ul>
    <li>
        <a href="#home">home</a>
    </li>
    <li>
        <a href="#route-a/my-param-1">route a</a>
    </li>
    <li>
        <a href="#route-a/my-param-1|route-b/my-param-2">route a + b</a>
    </li>
</ul>
